/* */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

body {
	background-color: #16161a;
	margin: 10 30px;
	background-color: #7e7e7e;
}
.page {
	border: 1px solid #2cb67d;
	background-color: #16161a;
	border-radius: 10px;
}
/* -------------------- */
/* ----For Header----- */
.name {
	display: flex;
}
.logo {
	width: 80px;
	height: 56px;
	padding-top: 8px;
	border-radius: 50%;
	/* border: 3px solid rgba(255, 255, 255, 0.514); */
	/* margin: 15 0px; */
	/* margin-left: 52px; */
}
.header {
	display: flex;
	justify-content: space-between;
	background-color: #303038;
	border-bottom: 1px solid wheat;
	/* border-radius: 15px; */
	/* margin: 15px; */
}
/* Left Side */
.name h1 {
	font-family: 'Josefin Sans', sans-serif;
	color: #fffffe;
	text-transform: capitalize;
	/* padding-left: 50px; */
}
/* Right Side */
.nevigation {
	margin: 0px;
	padding: 20 0 0 45px;
	/* display: flex; */
}
.nevigation button {
	background-color: transparent;
	color: #fffffe;
	text-transform: capitalize;
	font-size: 20px;
	font-weight: 800;
	font-family: 'Hubballi', cursive;
	display: block;
	border-radius: 5px;
	width: 150px;
	height: 33px;
	margin: 10px;
	border: 1px solid #fffffe;
}
.nevigation button:hover {
	cursor: pointer;
	background-color: #000000;
	color: #7f5af0;
	border: 1px solid #2cb67d;
}
/* ------------------------- */
/* For Center */
.center {
	display: flex;
	justify-content: space-evenly;
	margin-top: 5px;
	/* align-items: center; */
}
/* Left Side */
/* ------------------------- */
.card img {
	width: 200px;
	height: 200px;
	border: 2px solid #2cb67d;
	border-radius: 50%;
	margin-left: 30px;
}
.left h2 {
	color: #fffffe;
	padding-left: 65px;
	font-size: 25px;
}
.left {
	width: 250px;
	/* border: 2px solid #2cb67d; */
	border-radius: 7px;
	margin: 10px;
}

.left p {
	color: #94a1b2;
	font-family: 'Source Code Pro', monospace;
	margin: 10px;
	text-transform: capitalize;
	text-align: center;
}
.left:hover {
	/* background-color: #000000; */
}
.social ul {
	margin: 0px;
	padding: 20 0 10 25px;
}
.social li {
	list-style: none;
	display: inline;
	/* padding-left: 13px; */
	/* background-color: #fffffe; */
}
.social li a {
	/* border-radius: 50%; */
	text-decoration: none;
}
.social img {
	width: 25px;
	height: 25px;
	margin-left: 12px;
	/* border-radius: 50%; */
}
.social img:hover {
	/* background-color: black; */
	border: 0.5px solid #2cb67d;
	border-radius: 50%;
}
/* Upper-right */
.upper-right {
	height: 200px;
}
/* -----For Typing Animation----- */
.intro {
	display: flex;
	padding-top: 45px;
	/* justify-content: center; */
	font-size: 30px;
	/* margin-left: 50vw; */
}
.intro h3 {
	font-size: 14px;
	color: #94a1b2;
	font-family: 'Montserrat', sans-serif;
	/* position: fixed; */
	/* margin-left: -23vw; */
}
.typing {
	position: relative;
	/* margin-left: 15px; */
	/* margin-top: 30px; */
	color: #2cb67d;
	font-family: 'Montserrat', sans-serif;
}
.typing::after {
	content: "";
	position: absolute;
	right: -9px;
	width: 1%;
	height: 100%;
	border-right: 3px solid #2cb67d;
	animation: blink 0.5s infinite ease;
}
@keyframes blink {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
/* For Down-right */
.down-right {
	/* border: 2px solid #ffffff; */
	border-radius: 20px;
	/* padding-inline-start: 30px; */
}
.down-right:hover {
	/* background-color: #000000;
	border: 2px solid #2cb67d; */
}
.down-right h1 {
	color: #ffffff;
	font-size: 25px;
	word-spacing: 10px;
	letter-spacing: 2px;
	text-transform: uppercase;
}
#content {
	color: #94a1b2;
	width: 50vw;
	font-size: 20px;
	font-family: 'Dosis', sans-serif;
	/* text-transform: uppercase; */
	word-spacing: 8px;
	letter-spacing: 2px;
	line-height: 2;
}
/*---- Page-Portfolio---- */
.project {
	display: none;
	margin: 0;
	/* justify-content: space-evenly; */
	/* width: 60vw; */
}
.main-heading {
	font-family: 'Hubballi', cursive;
	padding-bottom: 10px;
	border-bottom: 1.5px double white;
}
.proj {
	margin-bottom: 20px;
	padding: 10px;
}
.proj-head {
	display: flex;
}
.proj-head h2 {
	/* padding: auto; */
	/* margin: 0px; */
	color: #5bd6d6;
}
.proj img {
	width: 25px;
	height: 25px;
	display: inline;
	padding: 20 0 0 10px;
}
.proj-descip {
	color: #ffffff;
}
.proj:hover {
	border: 1px solid #2cb67d;
	border-radius: 10px;
}
/*---- Page-Artical ---- */
.artical {
	display: none;
	margin: 0;
}

/* ----For Responsive---- */


/* Remove These */
.remove{
	color: rgba(255, 0, 0, 0.5);
}