/* */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
body {
	/* background-color: #1f68b2; */
}
.page {
	border: 1px solid #2cb67d;
	background-color: #16161a;
	border-radius: 10px;
}
/* -------------------- */
/* ----For Header----- */
.name {
	display: flex;
}
.logo {
	width: 80px;
	height: 56px;
	padding-top: 8px;
	border-radius: 50%;
}
.header {
	/* background-color: #303038; */
	border-bottom: 1px solid wheat;
	background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0, 0.5), rgb(255, 255, 255, 0.5));
}
/* Left Side */
.name h1 {
	font-family: 'Josefin Sans', sans-serif;
	color: #fffffe;
	text-transform: capitalize;
	/* padding-left: 50px; */
}
/* Right Side */
.nevigation {
	margin: 0px;
	padding: 20 0 0 45px;
	/* display: flex; */
}
.nevigation button {
	background-color: transparent;
	color: #fffffe;
	text-transform: capitalize;
	font-size: 20px;
	font-weight: 800;
	font-family: 'Hubballi', cursive;
	display: block;
	border-radius: 5px;
	width: 150px;
	height: 33px;
	margin: 10px;
	border: 1px solid #fffffe;
}
.nevigation button:hover {
	cursor: pointer;
	background-color: #000000;
	color: #7f5af0;
	border: 1px solid #2cb67d;
}
/* ------------------------- */
/* For Center */
.center {
	display: flex;
	justify-content: space-evenly;
	margin-top: 5px;
}
/* Left Side */
/* ------------------------- */
.dp img {
	width: 200px;
	height: 200px;
	border: 2px solid #2cb67d;
	border-radius: 50%;
	margin-left: 30px;
}
.left h2 {
	color: #fffffe;
	padding-left: 65px;
	font-size: 25px;
}
.left {
	border-radius: 7px;
	margin: 10px;
}
.social ul {
	margin: 0px;
	padding: 20 0 10 25px;
}
.social li {
	list-style: none;
	display: inline;
}
.social li a {
	text-decoration: none;
}
.social img {
	width: 25px;
	height: 25px;
	margin-left: 12px;
}
.social img:hover {
	border: 1px solid #2cb67d;
	border-radius: 50%;
}
/* Upper-right */
.upper-right {
	height: auto;
}
/* -----For Typing Animation----- */
.intro {
	display: flex;
	padding: 45 0 0 0px;
	/* justify-content: center; */
	font-size: 2vw;
	/* margin-left: 50vw; */
}
.intro h3 {
	font-size: 14px;
	padding-right: 5px;
	color: #94a1b2;
	font-family: 'Montserrat', sans-serif;
	/* position: relative; */
	/* margin-left: -23vw; */
}
.typing {
	position: relative;
	/* margin-left: 15px; */
	/* margin-top: 30px; */
	color: #2cb67d;
	font-family: 'Montserrat', sans-serif;
}
.typing::after {
	content: "";
	position: absolute;
	right: -9px;
	width: 1%;
	height: 100%;
	border-right: 3px solid #2cb67d;
	animation: blink 0.5s infinite ease;
}
@keyframes blink {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
/* For Down-right */
.down-right {
	border-radius: 20px;
}
.down-right h5 {
	margin-bottom: 0px;
	color: #94a1b2;
	font-size: 20px;
	font-weight: normal;
}
.down-right span {
	color: #7f5af0;
	padding-left: 10px;
	font-size: 34px;
	font-style: oblique;
}
.down-right h1 {
	color: #ffffff;
	font-size: 25px;
	word-spacing: 10px;
	letter-spacing: 2px;
	text-transform: uppercase;
}
#content {
	color: #94a1b2;
	width: 50vw;
	font-size: 20px;
	font-family: 'Dosis', sans-serif;
	word-spacing: 8px;
	letter-spacing: 2px;
	line-height: 2;
}
/*---- Page-Project---- */
.project {
	display: none;
	margin: 0;
	/* justify-content: space-evenly; */
	/* width: 60vw; */
}
.main-heading {
	font-family: 'Hubballi', cursive;
	padding-bottom: 10px;
	border-bottom: 1.5px double white;
}
.proj {
	margin-bottom: 20px;
	padding: 10px;
}
.proj-head {
	display: flex;
}
.proj-head h2 {
	/* padding: auto; */
	margin: 0px;
	color: #5bd6d6;
}
.proj img {
	width: 25px;
	height: 25px;
	display: inline;
	padding: 0 0 0 10px;
}
.proj:hover {
	border: 1px solid #2cb67d;
	border-radius: 10px;
}
.proj-descrip {
	margin: 0px;
}
/*---- Page-Artical ---- */
.artical {
	display: none;
	margin: 0;
}

/* Page-About Me */
.about {
	display: none;
	width: auto;
	height: auto;
}
/* ----For Responsive---- */
@media only screen and (max-width: 750px) {
	.center {
		flex-direction: column;
	}
	.left {
		margin: auto;
	}
	.intro {
		justify-content: center;
	}
	.down-right {
		text-align: center;
	}
	#content {
		width: auto;
	}
	.name {
		margin: auto;
	}
}
/* Remove These */
.remove {
	color: rgba(255, 0, 0, 0.5);
}
