body {
	background-color: #16161a;
	margin: 3px;
}
/* ------------------------- */
.page {
	display: flex;
	justify-content: space-evenly;
	margin: 20 0px;
	/* max-width: 1300; */
}
.left {
	border: 2px solid #ffffff;
	border-radius: 20px;
	width: auto;
	height: auto;
	margin-top: -70px;
}
.left:hover {
	border: 2px solid #2cb67d;
}
.left h2 {
	color: #fffffe;
	padding-left: 65px;
	font-size: 25px;
}
/* ------------------------- */
.name img {
	border-radius: 50%;
	border: 3px solid #7f5af0;
	margin: 15 0px;
	margin-left: 52px;
}

/* ------------------------- */
.name {
	width: 250px;
	border: 2px solid #2cb67d;
	border-radius: 7px;
	margin: 10px;
}
.name h3 {
	color: #fffffe;
	padding-left: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.name p {
	color: #94a1b2;
	margin: 10px;
	text-transform: capitalize;
	text-align: center;
}
.name:hover {
	background-color: #000000;
}
/* ------------------------- */
.nevigation {
	margin: 20 50px;
}
.nevigation button {
	background-color: transparent;
	color: #94a1b2;
	text-transform: capitalize;
	font-family: 'Nova Round', cursive;
	display: block;
	border-radius: 5px;
	width: 150px;
	height: 30px;
	margin: 10px;
	border: 1px solid #fffffe;
}
.nevigation button:hover {
	cursor: pointer;
	background-color: #000000;
	color: #7f5af0;
	border: 1px solid #2cb67d;
}

/* ------------------------- */
.right {
	width: 700px;
	display: flex;
	flex-direction: column;
	color: #fffffe;
	/* margin-left: -150px; */
}

/* -----------For Typing Animation-------------- */
.upper-right {
	align-items: center;
}
.intro {
	display: flex;
	justify-content: center;
	margin-left: 50vw;
}
.intro h3 {
	font-size: 14px;
	color: #94a1b2;
	font-family: 'Montserrat', sans-serif;
	position: fixed;
	margin-left: -23vw;
}
.typing {
	position: relative;
	margin-left: 15px;
	margin-top: 30px;
	color: #2cb67d;
	font-family: 'Montserrat', sans-serif;
}
.typing::after {
	content: "";
	position: absolute;
	right: -9px;
	width: 1%;
	height: 100%;
	border-right: 3px solid #2cb67d;
	animation: blink 0.5s infinite ease;
}
@keyframes blink {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
/* ------------------------- */
.home {
	border: 2px solid #ffffff;
	border-radius: 20px;
	padding-inline-start: 30px;
}
.home:hover {
	border: 2px solid #2cb67d;
}
.home h1 {
	font-size: 25px;
	word-spacing: 10px;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.objective {
	color: #94a1b2;
	width: 600px;
	font-size: 15px;
	text-transform: uppercase;
	word-spacing: 8px;
	letter-spacing: 2px;
	line-height: 2;
}
.portfolio {
	display: none;
}
.artical {
	display: none;
}
@media (min-width: 1400px) {
	body {
		background-color: #7f5af0;
	}
}
@media (max-width: 1000px) {
	.page {
		flex-direction: column;
		align-items: center;
	}
	/* .intro {
		margin-left: -8vw;
	} */
	.left {
		margin: 0px;
	}
}
